include *.enc
include *.ini
include *.rst
include *.toml
include *.yaml
include .flake8

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

recursive-include tests *.png
recursive-include tests *.py
recursive-include tests *.txt

recursive-exclude tests *.pyc
recursive-exclude tests *.pyo
